<div class="flex flex-col flex-auto min-w-0">
    <div class="absolute inset-x-0" *ngIf="loading">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div>
    <!-- Header -->

    <div class="flex-auto border-t -mt-px pt-4 sm:pt-6" *ngIf="!loading">
        <div class="w-full max-w-screen-xl mx-auto">
            <!-- Tabs -->
            <mat-tab-group class="sm:px-2" [animationDuration]="'0'">
                <!-- Home -->
                <mat-tab label="Employee Dashboard">
                    <ng-template matTabContent>
                        <div
                            class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0"
                        >
                            <!-- Summary -->
                            <div
                                (click)="navigateTo('axis/requsitions/cash')"
                                class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden"
                                style="cursor: pointer"
                                style="cursor: pointer"
                            >
                                <div class="flex items-start justify-between">
                                    <div
                                        class="text-lg font-medium tracking-tight leading-6 truncate"
                                    >
                                        Cash Requisitions
                                    </div>
                                    <div class="ml-2 -mt-2 -mr-3">
                                        <!-- <button mat-icon-button [matMenuTriggerFor]="summaryMenu">
                      <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                    </button>
                    <mat-menu #summaryMenu="matMenu">
                      <button mat-menu-item>Yesterday</button>
                      <button mat-menu-item>2 days ago</button>
                      <button mat-menu-item>3 days ago</button>
                    </mat-menu> -->
                                    </div>
                                </div>
                                <div class="flex flex-col items-center mt-2">
                                    <div
                                        class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-blue-500"
                                    >
                                        {{ cashReqs.length }}
                                    </div>
                                    <div
                                        class="text-lg font-medium text-blue-600 dark:text-blue-500"
                                    >
                                        Available
                                    </div>
                                    <div
                                        class="flex items-baseline justify-center w-full mt-5 text-secondary"
                                    >
                                        <!-- <div class="text-md font-medium truncate">Approved:</div>
                    <div class="ml-1.5 text-lg font-semibold">13</div> -->
                                    </div>
                                </div>
                            </div>
                            <div
                                (click)="navigateTo('axis/requsitions/card')"
                                class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden"
                                style="cursor: pointer"
                            >
                                <div class="flex items-start justify-between">
                                    <div
                                        class="text-lg font-medium tracking-tight leading-6 truncate"
                                    >
                                        Card Requisitions
                                    </div>
                                    <div class="ml-2 -mt-2 -mr-3">
                                        <!-- <button mat-icon-button [matMenuTriggerFor]="summaryMenu">
                      <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                    </button>
                    <mat-menu #summaryMenu="matMenu">
                      <button mat-menu-item>Yesterday</button>
                      <button mat-menu-item>2 days ago</button>
                      <button mat-menu-item>3 days ago</button>
                    </mat-menu> -->
                                    </div>
                                </div>
                                <div class="flex flex-col items-center mt-2">
                                    <div
                                        class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-blue-500"
                                    >
                                        {{ cardReqs.length }}
                                    </div>
                                    <div
                                        class="text-lg font-medium text-blue-600 dark:text-blue-500"
                                    >
                                        Available
                                    </div>
                                    <div
                                        class="flex items-baseline justify-center w-full mt-5 text-secondary"
                                    >
                                        <!-- <div class="text-md font-medium truncate">Approved:</div>
                    <div class="ml-1.5 text-lg font-semibold">13</div> -->
                                    </div>
                                </div>
                            </div>
                            <div
                                (click)="navigateTo('axis/requsitions/device')"
                                class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden"
                                style="cursor: pointer"
                            >
                                <div class="flex items-start justify-between">
                                    <div
                                        class="text-lg font-medium tracking-tight leading-6 truncate"
                                    >
                                        Device Requisitions
                                    </div>
                                    <div class="ml-2 -mt-2 -mr-3">
                                        <!-- <button mat-icon-button [matMenuTriggerFor]="summaryMenu">
                      <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                    </button>
                    <mat-menu #summaryMenu="matMenu">
                      <button mat-menu-item>Yesterday</button>
                      <button mat-menu-item>2 days ago</button>
                      <button mat-menu-item>3 days ago</button>
                    </mat-menu> -->
                                    </div>
                                </div>
                                <div class="flex flex-col items-center mt-2">
                                    <div
                                        class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-blue-500"
                                    >
                                        {{ deviceReqs.length }}
                                    </div>
                                    <div
                                        class="text-lg font-medium text-blue-600 dark:text-blue-500"
                                    >
                                        Available
                                    </div>
                                    <div
                                        class="flex items-baseline justify-center w-full mt-5 text-secondary"
                                    >
                                        <!-- <div class="text-md font-medium truncate">Approved:</div>
                    <div class="ml-1.5 text-lg font-semibold">13</div> -->
                                    </div>
                                </div>
                            </div>
                            <div
                                (click)="navigateTo('axis/requsitions/asset')"
                                class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden"
                                style="cursor: pointer"
                            >
                                <div class="flex items-start justify-between">
                                    <div
                                        class="text-lg font-medium tracking-tight leading-6 truncate"
                                    >
                                        Asset Requisitions
                                    </div>
                                    <div class="ml-2 -mt-2 -mr-3">
                                        <!-- <button mat-icon-button [matMenuTriggerFor]="summaryMenu">
                      <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                    </button>
                    <mat-menu #summaryMenu="matMenu">
                      <button mat-menu-item>Yesterday</button>
                      <button mat-menu-item>2 days ago</button>
                      <button mat-menu-item>3 days ago</button>
                    </mat-menu> -->
                                    </div>
                                </div>
                                <div class="flex flex-col items-center mt-2">
                                    <div
                                        class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-blue-500"
                                    >
                                        {{ assetsReqs.length }}
                                    </div>
                                    <div
                                        class="text-lg font-medium text-blue-600 dark:text-blue-500"
                                    >
                                        Available
                                    </div>
                                    <div
                                        class="flex items-baseline justify-center w-full mt-5 text-secondary"
                                    >
                                        <!-- <div class="text-md font-medium truncate">Approved:</div>
                    <div class="ml-1.5 text-lg font-semibold">13</div> -->
                                    </div>
                                </div>
                            </div>
                            <div
                                (click)="navigateTo('axis/requsitions/vehicle')"
                                class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden"
                                style="cursor: pointer"
                            >
                                <div class="flex items-start justify-between">
                                    <div
                                        class="text-lg font-medium tracking-tight leading-6 truncate"
                                    >
                                        Vehicle Requisitions
                                    </div>
                                    <div class="ml-2 -mt-2 -mr-3">
                                        <!-- <button mat-icon-button [matMenuTriggerFor]="summaryMenu">
                      <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                    </button>
                    <mat-menu #summaryMenu="matMenu">
                      <button mat-menu-item>Yesterday</button>
                      <button mat-menu-item>2 days ago</button>
                      <button mat-menu-item>3 days ago</button>
                    </mat-menu> -->
                                    </div>
                                </div>
                                <div class="flex flex-col items-center mt-2">
                                    <div
                                        class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-blue-500"
                                    >
                                        {{ vehicleReq.length }}
                                    </div>
                                    <div
                                        class="text-lg font-medium text-blue-600 dark:text-blue-500"
                                    >
                                        Available
                                    </div>
                                    <div
                                        class="flex items-baseline justify-center w-full mt-5 text-secondary"
                                    >
                                        <!-- <div class="text-md font-medium truncate">Approved:</div>
                    <div class="ml-1.5 text-lg font-semibold">13</div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
