<div class="flex flex-auto">


    <form class="flex flex-col flex-auto m-3 p-6 pt-10 sm:p-8 sm:pt-10 overflow-y-auto bg-card shadow rounded-2xl">

        <!-- Header -->
        <div class="flex items-center justify-between -mt-3 -ml-4">

            <!-- Mark as ... button -->
            <button class="pr-4 pl-3.5" mat-button>

                <!-- Mark as complete -->
                <ng-container>
                    <div class="flex items-center justify-center">
                        <mat-icon [svgIcon]="'heroicons_outline:check-circle'"></mat-icon>
                        <span class="ml-2 font-semibold">Cancel Requisition</span>
                    </div>
                </ng-container>
            </button>

            <div class="flex items-center">
                <!-- More menu -->
                <button mat-icon-button [matMenuTriggerFor]="moreMenu">
                    <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
                </button>
                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item (click)="openDeleteDialog(assetRequisition.id)">
                        <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                        <span>Delete Requsition</span>
                    </button>
                </mat-menu>
                <!-- Close button -->
                <button mat-icon-button [routerLink]="['../']">
                    <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
                </button>
            </div>
        </div>

        <mat-divider class="mt-6 mb-8"></mat-divider>

        <div class="grid grid-cols-6 gap-6">
            <div class="col-span-6 sm:col-span-3">
                <label for="first-name" class="block text-sm font-medium text-gray-700">First name</label>
                <input type="text" name="first-name" id="first-name" autocomplete="given-name"
                    class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>

            <div class="col-span-6 sm:col-span-3">
                <label for="last-name" class="block text-sm font-medium text-gray-700">Last name</label>
                <input type="text" name="last-name" id="last-name" autocomplete="family-name"
                    class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>

            <div class="col-span-6 sm:col-span-4">
                <label for="email-address" class="block text-sm font-medium text-gray-700">Email address</label>
                <input type="text" name="email-address" id="email-address" autocomplete="email"
                    class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>

            <div class="col-span-6 sm:col-span-3">
                <label for="country" class="block text-sm font-medium text-gray-700">Country</label>
                <select id="country" name="country" autocomplete="country-name"
                    class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    <option>United States</option>
                    <option>Canada</option>
                    <option>Mexico</option>
                </select>
            </div>

            <div class="col-span-6">
                <label for="street-address" class="block text-sm font-medium text-gray-700">Street address</label>
                <input type="text" name="street-address" id="street-address" autocomplete="street-address"
                    class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>

            <div class="col-span-6 sm:col-span-6 lg:col-span-2">
                <label for="city" class="block text-sm font-medium text-gray-700">City</label>
                <input type="text" name="city" id="city" autocomplete="address-level2"
                    class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>

            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                <label for="region" class="block text-sm font-medium text-gray-700">State / Province</label>
                <input type="text" name="region" id="region" autocomplete="address-level1"
                    class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>

            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                <label for="postal-code" class="block text-sm font-medium text-gray-700">ZIP / Postal code</label>
                <input type="text" name="postal-code" id="postal-code" autocomplete="postal-code"
                    class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>
        </div>
        <!-- Title -->
        <div>
            <mat-form-field class="fuse-mat-textarea  w-full">
                <mat-label>Requisition Title</mat-label>
                <textarea matInput [spellcheck]="false" matTextareaAutosize #titleField>
                    {{assetRequisition.title}}
                </textarea>
            </mat-form-field>
        </div>

        <!-- Tags -->
        <div class="mt-8">
            <div class="font-medium mb-1.5">Approvals</div>
            <div class="flex flex-wrap items-center -m-1.5">
                <!-- Tags -->
                <ng-container>
                    <ng-container>
                        <div
                            class="flex items-center justify-center px-4 m-1.5 rounded-full leading-9 text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700">
                            <span class="text-md font-medium whitespace-nowrap"> Date Requested
                                :{{assetRequisition.dateRequested}}</span>
                        </div>
                    </ng-container>
                    <ng-container>
                        <div
                            class="flex items-center justify-center px-4 m-1.5 rounded-full leading-9 text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700">
                            <span class="text-md font-medium whitespace-nowrap"> {{assetRequisition.lineApproved? "Line
                                Manager Approved On : " + assetRequisition.lineApprovedDate : "Awaiting Line Manager
                                Approval"}}
                            </span>
                        </div>
                    </ng-container>
                    <ng-container>
                        <div
                            class="flex items-center justify-center px-4 m-1.5 rounded-full leading-9 text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700">
                            <span class="text-md font-medium whitespace-nowrap"> {{assetRequisition.approved? "Finace
                                Manager Approved On : " + assetRequisition.financeApprovedDate : "Awaiting Finance
                                Manager Approval"}}
                            </span>
                        </div>
                    </ng-container>

                </ng-container>
            </div>
        </div>

        <!-- Priority and Due date -->
        <div class="flex flex-wrap items-center mt-8">
            <!-- Due date -->
            <div class="mr-2">
                <div class="font-medium">Start date</div>
                <div class="relative flex items-center mt-1.5 px-4 leading-9 rounded-full cursor-pointer text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700"
                    (click)="startDatePicker.open()">
                    <mat-icon class="icon-size-5 text-current" [svgIcon]="'heroicons_solid:calendar'"></mat-icon>
                    <span class="ml-2 text-md font-medium">
                        <ng-container>{{assetRequisition.startDate}}</ng-container>
                    </span>
                    <mat-form-field
                        class=" fuse-mat-dense invisible absolute inset-0 -mt-2.5 opacity-0 pointer-events-none">
                        <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="assetRequisition.startDate"
                            [matDatepicker]="startDatePicker">
                        <mat-datepicker #startDatePicker>
                            <mat-datepicker-actions>
                                <button mat-button matDatepickerCancel>Clear
                                </button>
                                <button class="" mat-flat-button [color]="'primary'" matDatepickerApply>Select
                                </button>
                            </mat-datepicker-actions>
                        </mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="">
                <div class="font-medium">End date</div>
                <div class="relative flex items-center mt-1.5 px-4 leading-9 rounded-full cursor-pointer text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700"
                    (click)="endDatePicker.open()">
                    <mat-icon class="icon-size-5 text-current" [svgIcon]="'heroicons_solid:calendar'"></mat-icon>
                    <span class="ml-2 text-md font-medium">
                        <ng-container>{{assetRequisition.endDate}}</ng-container>
                    </span>
                    <mat-form-field
                        class=" fuse-mat-dense invisible absolute inset-0 -mt-2.5 opacity-0 pointer-events-none">
                        <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="assetRequisition.endDate"
                            [matDatepicker]="endDatePicker">
                        <mat-datepicker #endDatePicker>
                            <mat-datepicker-actions>
                                <button mat-button matDatepickerCancel>Clear
                                </button>
                                <button class="" mat-flat-button [color]="'primary'" matDatepickerApply>Select
                                </button>
                            </mat-datepicker-actions>
                        </mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <ng-container>
                <div
                    class="flex items-center justify-center px-4 m-1.5 mt-8 rounded-full leading-9 text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700">
                    <span class="text-md font-medium whitespace-nowrap"> Duration
                        :{{assetRequisition.duration}} hours</span>
                </div>
            </ng-container>
            <ng-container>
                <div
                    class="flex items-center justify-center px-4 m-1.5 mt-8 rounded-full leading-9 text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700">
                    <span class="text-md font-medium whitespace-nowrap"> Status
                        :{{assetRequisition.status}}</span>
                </div>
            </ng-container>

        </div>

        <!-- Notes -->
        <div class="mt-8">
            <mat-form-field class="fuse-mat-textarea  w-full">
                <mat-label>Comments</mat-label>
                <textarea matInput [spellcheck]="false"
                    matTextareaAutosize>{{assetRequisition.requestComments}}</textarea>
            </mat-form-field>
        </div>

        <div class="flex flex-col sm:flex-row sm:items-center justify-between mt-4 sm:mt-6">
            <div class="-ml-2">
                <div class="flex items-center mt-4 sm:mt-0">
                    <!-- Disasset -->
                    <button class="ml-auto sm:ml-0 mr-2" mat-stroked-button>
                        Back
                    </button>
                    <!-- Send -->
                    <button class="order-first sm:order-last" mat-flat-button [color]="'primary'">
                        Save Changes
                    </button>
                </div>
            </div>
        </div>
    </form>

</div>