<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>

    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500">Axis</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                    <a class="ml-1 text-primary-500">Employee</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                    <span class="ml-1 text-secondary">Requisitions</span>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Cash
                </h2>
            </div>


        </div>

    </div>

    <!-- Main -->
    <div class="flex flex-auto p-6 sm:p-10">

        <div class="flex flex-col flex-auto w-full max-w-xs sm:max-w-5xl mx-auto">
            <!-- Filters -->
            <div class="flex flex-col sm:flex-row items-center justify-between w-full max-w-xs sm:max-w-none">
                <mat-form-field class="fuse-mat-no-subscript w-full sm:w-36">
                    <mat-select [value]="'all'" (selectionChange)="filterByCategory($event)">
                        <mat-option [value]="'all'">All</mat-option>
                        <ng-container *ngFor="let category of categories; trackBy: trackByFn">
                            <mat-option [value]="category.slug">{{category.title}}</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="fuse-mat-no-subscript w-full sm:w-72 mt-4 sm:mt-0 sm:ml-4"
                    [floatLabel]="'always'">
                    <mat-icon matPrefix class="icon-size-5" [svgIcon]="'heroicons_solid:search'"></mat-icon>
                    <input (input)="filterByQuery(query.value)" placeholder="Search by title or description" matInput
                        #query>
                </mat-form-field>

                <button class="ml-4" mat-flat-button [color]="'primary'" (click)="createReq()">
                    <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                    <span class="ml-2 mr-1">Add</span>
                </button>
                <mat-slide-toggle class="mt-8 sm:mt-0 sm:ml-auto" [color]="'primary'"
                    (change)="toggleCompleted($event)">
                    Hide Accepted
                </mat-slide-toggle>
            </div>
            <!-- vehicleRequisitions -->
            <ng-container *ngIf="this.filteredCashRequisitions.length; else nocashRequisitions">
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 mt-8 sm:mt-10">
                    <ng-container *ngFor="let cashRequisition of filteredCashRequisitions; trackBy: trackByFn">
                        <!-- cashRequisition -->
                        <div class="flex flex-col h-96 shadow rounded-2xl overflow-hidden bg-card">
                            <div class="flex flex-col p-6">
                                <div class="flex items-center justify-between">
                                    <!-- cashRequisition category -->
                                    <ng-container
                                        *ngIf="(cashRequisition.category | fuseFindByKey:'slug':categories) as category">
                                        <div class="py-0.5 px-3 rounded-full text-sm font-semibold"
                                            [ngClass]="{'text-blue-800 bg-blue-100 dark:text-blue-50 dark:bg-blue-500': category.slug === 'accepted',
                                                        'text-green-800 bg-green-100 dark:text-green-50 dark:bg-green-500': category.slug === 'pending',
                                                        'text-pink-800 bg-pink-100 dark:text-pink-50 dark:bg-pink-500': category.slug === 'rejected',
                                                        'text-amber-800 bg-amber-100 dark:text-amber-50 dark:bg-amber-500': category.slug === 'stalled'}">
                                            {{category.title}}
                                        </div>
                                    </ng-container>
                                    <!-- Completed at least once -->
                                    <div class="flex items-center">
                                        <ng-container *ngIf="cashRequisition.progress.completed > 0">
                                            <mat-icon class="icon-size-5 text-green-600"
                                                [svgIcon]="'heroicons_solid:badge-check'"
                                                [matTooltip]="'You completed this cashRequisition at least once'">
                                            </mat-icon>
                                        </ng-container>
                                    </div>
                                </div>
                                <!-- cashRequisition title & description -->
                                <div class="mt-2 text-lg font-medium">{{cashRequisition.title}}</div>
                                <div class="mt-0.5 line-clamp-2 text-secondary">{{cashRequisition.description}}</div>
                                <div class="w-55 h-1 my-6 border-t-2"></div>
                                <!-- cashRequisition time -->
                                <div class="flex items-center leading-5 text-md text-secondary">
                                    <mat-icon class="icon-size-5 text-hint" [svgIcon]="'heroicons_solid:clock'">
                                    </mat-icon>
                                    <div class="ml-1.5">{{cashRequisition.duration}} minutes</div>
                                </div>
                                <div class="flex">
                                    <mat-chip-list #chipList01 class="flex pt-5">
                                        <mat-chip [removable]="false" [selectable]="false">
                                            {{cashRequisition.startDate}}
                                        </mat-chip>
                                        <mat-chip [removable]="false" [selectable]="false">
                                            {{cashRequisition.endDate}}
                                        </mat-chip>

                                    </mat-chip-list>
                                </div>
                            </div>
                            <!-- Footer -->
                            <div class="flex flex-col w-full mt-auto">
                                <!-- cashRequisition progress -->
                                <div class="relative h-0.5">
                                    <div class="z-10 absolute inset-x-0 h-6 -mt-3"
                                        [matTooltip]="cashRequisition.progress.currentStep / cashRequisition.totalSteps | percent"
                                        [matTooltipPosition]="'above'" [matTooltipClass]="'-mb-0.5'"></div>
                                    <mat-progress-bar class="h-0.5"
                                        [value]="(100 * cashRequisition.progress.currentStep) / cashRequisition.totalSteps">
                                    </mat-progress-bar>
                                </div>

                                <!-- cashRequisition launch button -->
                                <div class="px-6 py-4 text-right bg-gray-50 dark:bg-transparent">
                                    <button mat-stroked-button [routerLink]="[cashRequisition.id]">
                                        <span class="inline-flex items-center">
                                            <!-- Started -->
                                            <ng-container>
                                                <span>View Requisition</span>
                                            </ng-container>

                                            <mat-icon class="ml-1.5 icon-size-5"
                                                [svgIcon]="'heroicons_solid:arrow-sm-right'"></mat-icon>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </ng-container>

            <!-- No vehicleRequisitions -->
            <ng-template #nocashRequisitions>
                <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
                    <mat-icon class="icon-size-20" [svgIcon]="'iconsmind:file_search'"></mat-icon>
                    <div class="mt-6 text-2xl font-semibold tracking-tight text-secondary">No cash Requisitions found!
                    </div>
                </div>
            </ng-template>
        </div>

    </div>

</div>