<div class="flex flex-col flex-auto min-w-0">

  <div class="absolute inset-x-0 " *ngIf="loading">
    <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
  </div>
  <!-- Header -->
  <div class="bg-card">
    <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
      <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-12">
        <!-- Avatar and name -->
        <div class="flex flex-auto items-center min-w-0">
          <div class="flex-0 w-16 h-16 rounded-full overflow-hidden">
            <mat-icon class="mt-5 ml-5" style="transform: scale(3);" [svgIcon]="'heroicons_outline:user-circle'">
            </mat-icon>
          </div>
          <div class="flex flex-col min-w-0 ml-4">
            <ng-container>
              <div class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate">
                Welcome back {{user.firstname}} {{user.lastname}}!</div>
            </ng-container>
          </div>
        </div>
        <!-- Actions -->
        <div class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-3">
          <button class="fuse-mat-button-rounded" mat-flat-button [color]="'primary'">
            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:cog'"></mat-icon>
            <span class="ml-2">Settings</span>
          </button>
        </div>
      </div>
      <!-- Project selector -->
      <div
        class="relative flex self-start pt-2 pb-1 pl-5 pr-4 cursor-pointer overflow-hidden rounded-t-xl border border-b-0 bg-default"
        matRipple [matMenuTriggerFor]="projectsMenu">
        <div class="flex items-center">
          <div class="overflow-hidden">
            <div class="font-medium leading-6 truncate">{{selectedProject}}</div>
          </div>
          <div class="flex items-center justify-center pl-2">
            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:chevron-down'"></mat-icon>
          </div>
        </div>
        <mat-menu #projectsMenu="matMenu" [xPosition]="'before'">
          <button mat-menu-item (click)="selectedProject='Dashboard'">Dashboard
          </button>
          <button mat-menu-item (click)="selectedProject='Cash Reports'">Cash reports
          </button>
          <button mat-menu-item (click)="selectedProject='Card Reports'">Card reports
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
  <div class="flex-auto border-t -mt-px pt-4 sm:pt-6" *ngIf="!loading">
    <div class="w-full max-w-screen-xl mx-auto">
      <!-- Tabs -->
      <mat-tab-group class="sm:px-2" [animationDuration]="'0'" *ngIf="selectedProject=='Dashboard'">
        <!-- Home -->
        <mat-tab label="Dashboard">
          <ng-template matTabContent>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0">
              <!-- Summary -->
              <div (click)="navigateTo('axis/finance-manager/requisitions/cash')"
                class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden" style="cursor: pointer;"
                style="cursor: pointer;">
                <div class="flex items-start justify-between">
                  <div class="text-lg font-medium tracking-tight leading-6 truncate">Cash Requisitions</div>
                  <div class="ml-2 -mt-2 -mr-3">
                    <!-- <button mat-icon-button [matMenuTriggerFor]="summaryMenu">
                      <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                    </button>
                    <mat-menu #summaryMenu="matMenu">
                      <button mat-menu-item>Yesterday</button>
                      <button mat-menu-item>2 days ago</button>
                      <button mat-menu-item>3 days ago</button>
                    </mat-menu> -->
                  </div>
                </div>
                <div class="flex flex-col items-center mt-2">
                  <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-blue-500">
                    {{cashReqs.length}}</div>
                  <div class="text-lg font-medium text-blue-600 dark:text-blue-500">Available</div>
                  <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                    <!-- <div class="text-md font-medium truncate">Approved:</div>
                    <div class="ml-1.5 text-lg font-semibold">13</div> -->
                  </div>
                </div>
              </div>
              <div (click)="navigateTo('axis/finance-manager/requisitions/card')"
                class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden" style="cursor: pointer;">
                <div class="flex items-start justify-between">
                  <div class="text-lg font-medium tracking-tight leading-6 truncate">Card Requisitions</div>
                  <div class="ml-2 -mt-2 -mr-3">
                    <!-- <button mat-icon-button [matMenuTriggerFor]="summaryMenu">
                      <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                    </button>
                    <mat-menu #summaryMenu="matMenu">
                      <button mat-menu-item>Yesterday</button>
                      <button mat-menu-item>2 days ago</button>
                      <button mat-menu-item>3 days ago</button>
                    </mat-menu> -->
                  </div>
                </div>
                <div class="flex flex-col items-center mt-2">
                  <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-blue-500">
                    {{cardReqs.length}}</div>
                  <div class="text-lg font-medium text-blue-600 dark:text-blue-500">Available</div>
                  <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                    <!-- <div class="text-md font-medium truncate">Approved:</div>
                    <div class="ml-1.5 text-lg font-semibold">13</div> -->
                  </div>
                </div>
              </div>
              <div (click)="navigateTo('axis/finance-manager/requisitions/device')"
                class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden" style="cursor: pointer;">
                <div class="flex items-start justify-between">
                  <div class="text-lg font-medium tracking-tight leading-6 truncate">Device Requisitions</div>
                  <div class="ml-2 -mt-2 -mr-3">
                    <!-- <button mat-icon-button [matMenuTriggerFor]="summaryMenu">
                      <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                    </button>
                    <mat-menu #summaryMenu="matMenu">
                      <button mat-menu-item>Yesterday</button>
                      <button mat-menu-item>2 days ago</button>
                      <button mat-menu-item>3 days ago</button>
                    </mat-menu> -->
                  </div>
                </div>
                <div class="flex flex-col items-center mt-2">
                  <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-blue-500">
                    {{deviceReqs.length}}</div>
                  <div class="text-lg font-medium text-blue-600 dark:text-blue-500">Available</div>
                  <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                    <!-- <div class="text-md font-medium truncate">Approved:</div>
                    <div class="ml-1.5 text-lg font-semibold">13</div> -->
                  </div>
                </div>
              </div>
              <div (click)="navigateTo('axis/finance-manager/requisitions/asset')"
                class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden" style="cursor: pointer;">
                <div class="flex items-start justify-between">
                  <div class="text-lg font-medium tracking-tight leading-6 truncate">Asset Requisitions</div>
                  <div class="ml-2 -mt-2 -mr-3">
                    <!-- <button mat-icon-button [matMenuTriggerFor]="summaryMenu">
                      <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                    </button>
                    <mat-menu #summaryMenu="matMenu">
                      <button mat-menu-item>Yesterday</button>
                      <button mat-menu-item>2 days ago</button>
                      <button mat-menu-item>3 days ago</button>
                    </mat-menu> -->
                  </div>
                </div>
                <div class="flex flex-col items-center mt-2">
                  <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-blue-500">
                    {{assetsReqs.length}}</div>
                  <div class="text-lg font-medium text-blue-600 dark:text-blue-500">Available</div>
                  <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                    <!-- <div class="text-md font-medium truncate">Approved:</div>
                    <div class="ml-1.5 text-lg font-semibold">13</div> -->
                  </div>
                </div>
              </div>
              <div (click)="navigateTo('axis/finance-manager/requisitions/vehicle')"
                class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden" style="cursor: pointer;">
                <div class="flex items-start justify-between">
                  <div class="text-lg font-medium tracking-tight leading-6 truncate">Vehicle Requisitions</div>
                  <div class="ml-2 -mt-2 -mr-3">
                    <!-- <button mat-icon-button [matMenuTriggerFor]="summaryMenu">
                      <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                    </button>
                    <mat-menu #summaryMenu="matMenu">
                      <button mat-menu-item>Yesterday</button>
                      <button mat-menu-item>2 days ago</button>
                      <button mat-menu-item>3 days ago</button>
                    </mat-menu> -->
                  </div>
                </div>
                <div class="flex flex-col items-center mt-2">
                  <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-blue-500">
                    {{vehicleReq.length}}</div>
                  <div class="text-lg font-medium text-blue-600 dark:text-blue-500">Available</div>
                  <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                    <!-- <div class="text-md font-medium truncate">Approved:</div>
                    <div class="ml-1.5 text-lg font-semibold">13</div> -->
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
      <mat-tab-group class="sm:px-2" [animationDuration]="'0'" *ngIf="selectedProject=='Cash Reports'">
        <!-- Home -->
        <mat-tab label="Month to month">
          <ng-template matTabContent>
            <div class="flex flex-col sm:flex-row items-center w-full max-w-xs sm:max-w-none">
              <mat-form-field class="sm:w-36 mr-3">
                <mat-select [(value)]="cash">
                  <ng-container>
                    <mat-option *ngFor="let cash  of cashs" [value]="cash.id" (click)="setCash(cash)">
                      {{cash.description}}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="sm:w-36">
                <mat-select [(value)]="status">
                  <ng-container>
                    <mat-option value="Created" (click)="setStatus('Created')">Created</mat-option>
                    <mat-option value="Line Approved" (click)="setStatus('Line Approved')">Line manager approved
                    </mat-option>
                    <mat-option value="Finance Approved" (click)="setStatus('Finance Approved')">Finance manager
                      approved
                    </mat-option>
                    <mat-option value="Cash Used" (click)="setStatus('Cash Used')">Cash Used
                    </mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-3 gap-6 w-full min-w-0">

              <!-- Weekly expenses -->
              <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                <div class="flex items-start justify-between">
                  <div class="text-lg font-medium tracking-tight leading-6 truncate">
                    Released Funds</div>
                </div>
                <div class="flex items-center mt-1">
                  <div class="flex flex-col">
                    <div class="text-3xl font-semibold tracking-tight leading-tight">
                      {{cashMonthToMonth?.requestedAmount | currency:currencySelected}}
                    </div>
                    <div class="flex items-center">
                      <mat-icon class="mr-1 icon-size-5 text-green-500" [svgIcon]="'heroicons_solid:trending-down'">
                      </mat-icon>
                      <div class="font-medium text-sm text-secondary leading-none whitespace-nowrap">
                        <span class="text-green-500">{{cashMonthToMonth?.period}}</span>
                        Period
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-col flex-auto ml-8">

                  </div>
                </div>
              </div>
              <!-- Monthly expenses -->
              <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                <div class="flex items-start justify-between">
                  <div class="text-lg font-medium tracking-tight leading-6 truncate">Requested Amount
                  </div>

                </div>
                <div class="flex items-center mt-1">
                  <div class="flex flex-col">
                    <div class="text-3xl font-semibold tracking-tight leading-tight">
                      {{cashMonthToMonth?.requestedAmount| currency:currencySelected}}
                    </div>
                    <div class="flex items-center">
                      <mat-icon class="mr-1 icon-size-5 text-red-500" [svgIcon]="'heroicons_solid:trending-up'">
                      </mat-icon>
                      <div class="font-medium text-sm text-secondary leading-none whitespace-nowrap">
                        <span class="text-green-500">{{cashMonthToMonth?.period}}</span>
                        Period
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-col flex-auto ml-8">

                  </div>
                </div>
              </div>
              <!-- Yearly expenses -->
              <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                <div class="flex items-start justify-between">
                  <div class="text-lg font-medium tracking-tight leading-6 truncate">Used Funds
                  </div>

                </div>
                <div class="flex items-center mt-1">
                  <div class="flex flex-col">
                    <div class="text-3xl font-semibold tracking-tight leading-tight">
                      {{cashMonthToMonth?.usedFunds | currency:currencySelected}}
                    </div>
                    <div class="flex items-center">
                      <mat-icon class="mr-1 icon-size-5 text-red-500" [svgIcon]="'heroicons_solid:trending-up'">
                      </mat-icon>
                      <div class="font-medium text-sm text-secondary leading-none whitespace-nowrap">
                        <span class="text-green-500">{{cashMonthToMonth?.period}}</span>
                        Period
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-col flex-auto ml-8">

                  </div>
                </div>
              </div>

            </div>
          </ng-template>
        </mat-tab>

        <!-- Budget -->
        <!-- <mat-tab label="Month to month details">
          <ng-template matTabContent>

          </ng-template>
        </mat-tab> -->

        <mat-tab label="Day to day">
          <ng-template matTabContent>
            <div class="flex flex-col sm:flex-row items-center w-full max-w-xs sm:max-w-none">
              <mat-form-field class="sm:w-36 mr-3">
                <mat-select [(value)]="cash">
                  <ng-container>
                    <mat-option *ngFor="let cash  of cashs" [value]="cash.id" (click)="setCash(cash)">
                      {{cash.description}}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="sm:w-36">
                <mat-select [(value)]="status">
                  <ng-container>
                    <mat-option value="Created" (click)="setStatus('Created')">Created</mat-option>
                    <mat-option value="Line Approved" (click)="setStatus('Line Approved')">Line manager approved
                    </mat-option>
                    <mat-option value="Finance Approved" (click)="setStatus('Finance Approved')">Finance manager
                      approved
                    </mat-option>
                    <mat-option value="Cash Used" (click)="setStatus('Cash Used')">Cash Used
                    </mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-3 gap-6 w-full min-w-0">

              <!-- Weekly expenses -->
              <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                <div class="flex items-start justify-between">
                  <div class="text-lg font-medium tracking-tight leading-6 truncate">
                    Released Funds</div>
                </div>
                <div class="flex items-center mt-1">
                  <div class="flex flex-col">
                    <div class="text-3xl font-semibold tracking-tight leading-tight">
                      {{cardDayToDay?.requestedAmount | currency:currencySelected}}
                    </div>
                    <div class="flex items-center">
                      <mat-icon class="mr-1 icon-size-5 text-green-500" [svgIcon]="'heroicons_solid:trending-down'">
                      </mat-icon>
                      <div class="font-medium text-sm text-secondary leading-none whitespace-nowrap">
                        <span class="text-green-500">{{cashDayToDay?.period}}</span>
                        Period
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-col flex-auto ml-8">

                  </div>
                </div>
              </div>
              <!-- Monthly expenses -->
              <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                <div class="flex items-start justify-between">
                  <div class="text-lg font-medium tracking-tight leading-6 truncate">Requested Amount
                  </div>

                </div>
                <div class="flex items-center mt-1">
                  <div class="flex flex-col">
                    <div class="text-3xl font-semibold tracking-tight leading-tight">
                      {{cashDayToDay?.requestedAmount| currency:currencySelected}}
                    </div>
                    <div class="flex items-center">
                      <mat-icon class="mr-1 icon-size-5 text-red-500" [svgIcon]="'heroicons_solid:trending-up'">
                      </mat-icon>
                      <div class="font-medium text-sm text-secondary leading-none whitespace-nowrap">
                        <span class="text-green-500">{{cashDayToDay?.period}}</span>
                        Period
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-col flex-auto ml-8">

                  </div>
                </div>
              </div>
              <!-- Yearly expenses -->
              <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                <div class="flex items-start justify-between">
                  <div class="text-lg font-medium tracking-tight leading-6 truncate">Used Funds
                  </div>

                </div>
                <div class="flex items-center mt-1">
                  <div class="flex flex-col">
                    <div class="text-3xl font-semibold tracking-tight leading-tight">
                      {{cashDayToDay?.usedFunds | currency:currencySelected}}
                    </div>
                    <div class="flex items-center">
                      <mat-icon class="mr-1 icon-size-5 text-red-500" [svgIcon]="'heroicons_solid:trending-up'">
                      </mat-icon>
                      <div class="font-medium text-sm text-secondary leading-none whitespace-nowrap">
                        <span class="text-green-500">{{cashDayToDay?.period}}</span>
                        Period
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-col flex-auto ml-8">

                  </div>
                </div>
              </div>

            </div>
          </ng-template>
        </mat-tab>

        <!-- <mat-tab label="Day to day details">
          <ng-template matTabContent>

          </ng-template>
        </mat-tab> -->

      </mat-tab-group>

      <mat-tab-group class="sm:px-2" [animationDuration]="'0'" *ngIf="selectedProject=='Card Reports'">
        <!-- Home -->
        <mat-tab label="Month to month">
          <ng-template matTabContent>
            <div class="flex flex-col sm:flex-row items-center w-full max-w-xs sm:max-w-none">
              <mat-form-field class="sm:w-36 mr-3">
                <mat-select [(value)]="card">
                  <ng-container>
                    <mat-option *ngFor="let card  of cards" [value]="card.id" (click)="setCard(card)">
                      {{card.description}}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="sm:w-36">
                <mat-select [(value)]="status">
                  <ng-container>
                    <mat-option value="Created" (click)="setStatus('Created')">Created</mat-option>
                    <mat-option value="Line Approved" (click)="setStatus('Line Approved')">Line manager approved
                    </mat-option>
                    <mat-option value="Finance Approved" (click)="setStatus('Finance Approved')">Finance manager
                      approved
                    </mat-option>
                    <mat-option value="Cash Used" (click)="setStatus('Cash Used')">Cash Used
                    </mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-3 gap-6 w-full min-w-0">

              <!-- Weekly expenses -->
              <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                <div class="flex items-start justify-between">
                  <div class="text-lg font-medium tracking-tight leading-6 truncate">
                    Released Funds</div>
                </div>
                <div class="flex items-center mt-1">
                  <div class="flex flex-col">
                    <div class="text-3xl font-semibold tracking-tight leading-tight">
                      {{cardMonthToMonth?.requestedAmount | currency:currencySelected}}
                    </div>
                    <div class="flex items-center">
                      <mat-icon class="mr-1 icon-size-5 text-green-500" [svgIcon]="'heroicons_solid:trending-down'">
                      </mat-icon>
                      <div class="font-medium text-sm text-secondary leading-none whitespace-nowrap">
                        <span class="text-green-500">{{cardMonthToMonth?.period}}</span>
                        Period
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-col flex-auto ml-8">

                  </div>
                </div>
              </div>
              <!-- Monthly expenses -->
              <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                <div class="flex items-start justify-between">
                  <div class="text-lg font-medium tracking-tight leading-6 truncate">Requested Amount
                  </div>

                </div>
                <div class="flex items-center mt-1">
                  <div class="flex flex-col">
                    <div class="text-3xl font-semibold tracking-tight leading-tight">
                      {{cardMonthToMonth?.requestedAmount| currency:currencySelected}}
                    </div>
                    <div class="flex items-center">
                      <mat-icon class="mr-1 icon-size-5 text-red-500" [svgIcon]="'heroicons_solid:trending-up'">
                      </mat-icon>
                      <div class="font-medium text-sm text-secondary leading-none whitespace-nowrap">
                        <span class="text-green-500">{{cardMonthToMonth?.period}}</span>
                        Period
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-col flex-auto ml-8">

                  </div>
                </div>
              </div>
              <!-- Yearly expenses -->
              <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                <div class="flex items-start justify-between">
                  <div class="text-lg font-medium tracking-tight leading-6 truncate">Used Funds
                  </div>

                </div>
                <div class="flex items-center mt-1">
                  <div class="flex flex-col">
                    <div class="text-3xl font-semibold tracking-tight leading-tight">
                      {{cardMonthToMonth?.usedFunds | currency:currencySelected}}
                    </div>
                    <div class="flex items-center">
                      <mat-icon class="mr-1 icon-size-5 text-red-500" [svgIcon]="'heroicons_solid:trending-up'">
                      </mat-icon>
                      <div class="font-medium text-sm text-secondary leading-none whitespace-nowrap">
                        <span class="text-green-500">{{cardMonthToMonth?.period}}</span>
                        Period
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-col flex-auto ml-8">

                  </div>
                </div>
              </div>

            </div>
          </ng-template>
        </mat-tab>

        <!-- Budget -->
        <!-- <mat-tab label="Month to month details">
          <ng-template matTabContent>

          </ng-template>
        </mat-tab> -->

        <mat-tab label="Day to day">
          <ng-template matTabContent>
            <div class="flex flex-col sm:flex-row items-center w-full max-w-xs sm:max-w-none">
              <mat-form-field class="sm:w-36 mr-3">
                <mat-select [(value)]="card">
                  <ng-container>
                    <mat-option *ngFor="let card  of cards" [value]="card.id" (click)="setCard(card)">
                      {{card.description}}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="sm:w-36">
                <mat-select [(value)]="status">
                  <ng-container>
                    <mat-option value="Created" (click)="setStatus('Created')">Created</mat-option>
                    <mat-option value="Line Approved" (click)="setStatus('Line Approved')">Line manager approved
                    </mat-option>
                    <mat-option value="Finance Approved" (click)="setStatus('Finance Approved')">Finance manager
                      approved
                    </mat-option>
                    <mat-option value="Cash Used" (click)="setStatus('Cash Used')">Cash Used
                    </mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-3 gap-6 w-full min-w-0">

              <!-- Weekly expenses -->
              <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                <div class="flex items-start justify-between">
                  <div class="text-lg font-medium tracking-tight leading-6 truncate">
                    Released Funds</div>
                </div>
                <div class="flex items-center mt-1">
                  <div class="flex flex-col">
                    <div class="text-3xl font-semibold tracking-tight leading-tight">
                      {{cardDayToDay?.requestedAmount | currency:currencySelected}}
                    </div>
                    <div class="flex items-center">
                      <mat-icon class="mr-1 icon-size-5 text-green-500" [svgIcon]="'heroicons_solid:trending-down'">
                      </mat-icon>
                      <div class="font-medium text-sm text-secondary leading-none whitespace-nowrap">
                        <span class="text-green-500">{{cardDayToDay?.period}}</span>
                        Period
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-col flex-auto ml-8">

                  </div>
                </div>
              </div>
              <!-- Monthly expenses -->
              <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                <div class="flex items-start justify-between">
                  <div class="text-lg font-medium tracking-tight leading-6 truncate">Requested Amount
                  </div>

                </div>
                <div class="flex items-center mt-1">
                  <div class="flex flex-col">
                    <div class="text-3xl font-semibold tracking-tight leading-tight">
                      {{cardDayToDay?.requestedAmount| currency:currencySelected}}
                    </div>
                    <div class="flex items-center">
                      <mat-icon class="mr-1 icon-size-5 text-red-500" [svgIcon]="'heroicons_solid:trending-up'">
                      </mat-icon>
                      <div class="font-medium text-sm text-secondary leading-none whitespace-nowrap">
                        <span class="text-green-500">{{cardDayToDay?.period}}</span>
                        Period
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-col flex-auto ml-8">

                  </div>
                </div>
              </div>
              <!-- Yearly expenses -->
              <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                <div class="flex items-start justify-between">
                  <div class="text-lg font-medium tracking-tight leading-6 truncate">Used Funds
                  </div>

                </div>
                <div class="flex items-center mt-1">
                  <div class="flex flex-col">
                    <div class="text-3xl font-semibold tracking-tight leading-tight">
                      {{cardDayToDay?.usedFunds | currency:currencySelected}}
                    </div>
                    <div class="flex items-center">
                      <mat-icon class="mr-1 icon-size-5 text-red-500" [svgIcon]="'heroicons_solid:trending-up'">
                      </mat-icon>
                      <div class="font-medium text-sm text-secondary leading-none whitespace-nowrap">
                        <span class="text-green-500">{{cardDayToDay?.period}}</span>
                        Period
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-col flex-auto ml-8">

                  </div>
                </div>
              </div>

            </div>
          </ng-template>
        </mat-tab>

        <!-- <mat-tab label="Day to day details">
          <ng-template matTabContent>

          </ng-template>
        </mat-tab> -->

      </mat-tab-group>
    </div>
  </div>



</div>