<div class="flex flex-col max-w-480 md:min-w-256 max-h-screen -m-6">

  <!-- Header -->
  <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
    <div class="text-lg font-medium">Prview before printing</div>
    <button mat-icon-button [tabIndex]="-1">
      <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'" (click)="closeDialog()"></mat-icon>
    </button>
  </div>

  <!-- Compose form -->
  <form class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto">
    <div id="contentToConvert">
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="px-6 py-3">
                Cash Requsition {{cashRequisition.id}}
              </th>
              <th scope="col" class="px-6 py-3">

              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                Title
              </th>
              <td class="px-6 py-4">
                {{cashRequisition.title}}
              </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                Comments
              </th>
              <td class="px-6 py-4">
                {{cashRequisition.requestComments}}
              </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                Description
              </th>
              <td class="px-6 py-4">
                {{cashRequisition.description}}
              </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                Status
              </th>
              <td class="px-6 py-4">
                {{cashRequisition.status}}
              </td>
            </tr>
          
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                Start Date
              </th>
              <td class="px-6 py-4">
                {{cashRequisition.startDate | date:'medium'}}
              </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                End Date
              </th>
              <td class="px-6 py-4">
                {{cashRequisition.endDate | date:'medium'}}
              </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                Duration
              </th>
              <td class="px-6 py-4">
                {{cashRequisition.duration}}
              </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                Date Requested
              </th>
              <td class="px-6 py-4">
                {{cashRequisition.dateRequested | date:'medium'}}
              </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                Line Approved Date
              </th>
              <td class="px-6 py-4">
                {{cashRequisition.lineApprovedDate | date:'medium'}}
              </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                Line Approver
              </th>
              <td class="px-6 py-4">
                {{cashRequisition.lineApprover.firstName +" " }}
                {{cashRequisition.lineApprover.lastName }}
              </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                Phone Number
              </th>
              <td class="px-6 py-4">
                {{cashRequisition.lineApprover.phoneNumber}}
              </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                Finance Approved Date
              </th>
              <td class="px-6 py-4">
                {{cashRequisition.financeApprovedDate | date:'medium'}}
              </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                Finance Approver
              </th>
              <td class="px-6 py-4">
                {{cashRequisition.financeApprover.firstName +" "}}

                {{cashRequisition.financeApprover.lastName}}
              </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                Phone Number
              </th>
              <td class="px-6 py-4">
                {{cashRequisition.financeApprover.phoneNumber}}
              </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                Emoployee Name
              </th>
              <td class="px-6 py-4">
                {{cashRequisition.employee.firstName +" "}}

                {{cashRequisition.employee.lastName}}
              </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                Phone Number
              </th>
              <td class="px-6 py-4">
                {{cashRequisition.employee.phoneNumber}}
              </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
               Serial Number
              </th>
              <td class="px-6 py-4">
                {{cashRequisition.device.serialNumber}}
              </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                Code
              </th>
              <td class="px-6 py-4">
                {{cashRequisition.device.itemCode}} 
              </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                Stamp
              </th>
              <td class="px-6 py-4">
                <div class="box-border h-50 w-100 p-4 border-4 ...">

                </div>
              </td>
            </tr>

          </tbody>
          <tfoot  class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400 w-full">
            <div class="md:justify-between">
              <span class="p-4 text-sm text-gray-700 sm:text-center">© 2022
                Generated from axis intranet
              </span>
            </div>
          </tfoot>
        </table>
      </div>

    </div>
    <div
      class="flex items-center mt-10 -mx-6 sm:-mx-12 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent">
      <!-- Delete -->

      <!-- Cancel -->
      <button class="ml-auto" mat-button (click)="closeDialog()">
        Cancel
      </button>
      <!-- Save -->
      <button (click)="captureScreen()" class="ml-2" mat-flat-button [color]="'primary'">
        <span>
          Print
        </span>
      </button>
    </div>
  </form>
</div>