<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto">

  <!-- Header -->
  <div
    class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
    <div class="flex-1 min-w-0">
      <!-- Breadcrumbs -->
      <div class="flex flex-wrap items-center font-medium">
        <div>
          <a class="whitespace-nowrap text-primary-500">Axis</a>
        </div>
        <div class="flex items-center ml-1 whitespace-nowrap">
          <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
          <a class="ml-1 text-primary-500">Employee</a>
        </div>
        <div class="flex items-center ml-1 whitespace-nowrap">
          <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
          <span class="ml-1 text-secondary">Requisitions</span>
        </div>
      </div>
      <!-- Title -->
      <div class="mt-2">
        <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
          Card
        </h2>
      </div>
    </div>
  </div>
  <!-- Main -->
  <div class="flex flex-auto p-6 sm:p-10">
    <ng-container *ngIf="isLoading">
      <div class="absolute inset-x-0 bottom-0">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
      </div>
    </ng-container>
    <div class="flex flex-col flex-auto w-full max-w-xs sm:max-w-5xl mx-auto">
      <!-- Filters -->

      <div class="flex flex-col sm:flex-row items-center justify-between w-full max-w-xs sm:max-w-none">
        <mat-form-field class=" w-full sm:w-36">
          <mat-select [(value)]="status">
            <ng-container>
              <mat-option value="mine" (click)="setStatus('mine')">My Requision</mat-option>
              <mat-option value="employee" (click)="setStatus('employee')">Employee Requisitions</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <mat-form-field class=" w-full sm:w-72 mt-4 sm:mt-0 sm:ml-4" [floatLabel]="'always'">
          <mat-icon matPrefix class="icon-size-5" [svgIcon]="'heroicons_solid:search'"></mat-icon>
          <input placeholder="Search by title or description" matInput #query>
        </mat-form-field>

        <button class="ml-4" mat-flat-button [color]="'primary'" (click)="createReq()">
          <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
          <span class="ml-2 mr-1">Add</span>
        </button>
        <mat-slide-toggle class="mt-8 sm:mt-0 sm:ml-auto" [color]="'primary'">
          Hide Accepted
        </mat-slide-toggle>
      </div>
      <!-- cardRequisitions -->
      <ng-container *ngIf="this.cardReqDataSource.data.length > 0; else nocardRequisitions">


        <div class="sm:col-span-6 flex flex-col flex-auto p-6 mt-2 bg-card shadow rounded-2xl overflow-hidden">
          <div class="flex flex-col flex-auto mt-2 overflow-x-auto">
            <table class="min-w-240 overflow-y-visible" mat-table [dataSource]="cardReqDataSource">
              <!-- Type -->
              <ng-container matColumnDef="status" sticky>
                <th mat-header-cell *matHeaderCellDef>
                  Status
                </th>
                <td mat-cell *matCellDef="let cardReq">
                  <span class="flex items-center">
                    <span class="w-2 h-2 rounded-full"
                      [ngClass]="{
                                                      'bg-green-500': cardReq.approved !== null || cardReq.approved,
                                                      'bg-red-500': cardReq.approved === null || cardReq.approved }"></span>
                    <span class="ml-3 leading-4"> {{cardReq.status}}</span>
                  </span>
                </td>
              </ng-container>

              <!-- Total -->
              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef>
                  Title
                </th>
                <td mat-cell *matCellDef="let cardReq">
                  <span class="font-medium text-right">
                    {{cardReq.title}}
                  </span>
                </td>
              </ng-container>

              <!-- Expenses amount -->
              <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef>
                  Start Date
                </th>
                <td mat-cell *matCellDef="let cardReq">
                  {{cardReq.startDate | date:'medium'}}
                </td>
              </ng-container>

              <!-- Expenses percentage -->
              <ng-container matColumnDef="endDate">
                <th mat-header-cell *matHeaderCellDef>
                  End Date
                </th>
                <td mat-cell *matCellDef="let cardReq">
                  {{cardReq.endDate | date:'medium'}}
                </td>
              </ng-container>
              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef>
                  Amount
                </th>
                <td mat-cell *matCellDef="let cashReq">
                  {{cashReq.card.currency}}{{cashReq.amount}}
                </td>
              </ng-container>

              <!-- Remaining amount -->
              <ng-container matColumnDef="duration">
                <th mat-header-cell *matHeaderCellDef>
                  Duration (hours)
                </th>
                <td mat-cell *matCellDef="let cardReq">
                  {{cardReq.duration}}
                </td>
              </ng-container>
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>
                  Action
                </th>
                <td mat-cell *matCellDef="let cardReq">
                  <button mat-icon-button [matMenuTriggerFor]="budgetMenu">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'">
                    </mat-icon>
                  </button>
                  <mat-menu #budgetMenu="matMenu">
                    <button mat-menu-item (click)="viewReqVehilce(cardReq.id)">View</button>

                  </mat-menu>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="cardReqTableColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: cardReqTableColumns;"></tr>
            </table>
          </div>
        </div>
      </ng-container>

      <!-- No cardRequisitions -->
      <ng-template #nocardRequisitions>
        <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
          <mat-icon class="icon-size-20" [svgIcon]="'iconsmind:file_search'"></mat-icon>
          <div class="mt-6 text-2xl font-semibold tracking-tight text-secondary">No cardRequisitions found!
          </div>
        </div>
      </ng-template>
    </div>

  </div>

</div>