<div class="flex flex-col flex-auto min-w-0">

  <div class="absolute inset-x-0 " *ngIf="isLoading">
    <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
  </div>
  <!-- Header -->
  <div class="bg-card">
    <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
      <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-12">
        <!-- Avatar and name -->
        <div class="flex flex-auto items-center min-w-0">
          <div class="flex-0 w-16 h-16 rounded-full overflow-hidden">
            <mat-icon class="mt-5 ml-5" style="transform: scale(3);" [svgIcon]="'heroicons_outline:user-circle'">
            </mat-icon>
          </div>
          <div class="flex flex-col min-w-0 ml-4">

            <ng-container>
              <div class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate">
                Welcome Back {{user.firstname}} {{user.lastname}}</div>
            </ng-container>
          </div>
        </div>
        <!-- Actions -->
        <div class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-3">
          <button class="fuse-mat-button-rounded" mat-flat-button [color]="'primary'">
            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:cog'"></mat-icon>
            <span class="ml-2">Settings</span>
          </button>
        </div>
      </div>
      <!-- Project selector -->
    </div>
  </div>
  <div class="flex-auto border-t -mt-px pt-4 sm:pt-6" *ngIf="!isLoading">
    <div class="w-full max-w-screen-xl mx-auto">
      <!-- Tabs -->
      <mat-tab-group class="sm:px-2" [animationDuration]="'0'">
        <!-- Home -->
        <mat-tab label="Admin Dashboard">
          <ng-template matTabContent>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0">
              <!-- Summary -->
              <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden" style="cursor:pointer">
                <div class="flex items-start justify-between">
                  <div class="text-lg font-medium tracking-tight leading-6 truncate">Items</div>
                  <div class="ml-2 -mt-2 -mr-3">
                    <!-- <button mat-icon-button [matMenuTriggerFor]="issuesMenu">
                      <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                    </button>
                    <mat-menu #issuesMenu="matMenu">
                      <button mat-menu-item>Yesterday</button>
                      <button mat-menu-item>2 days ago</button>
                      <button mat-menu-item>3 days ago</button>
                    </mat-menu> -->
                  </div>
                </div>
                <div class="flex flex-col items-center mt-2">
                  <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-amber-500">5</div>
                  <div class="text-lg font-medium text-amber-600 dark:text-amber-500">Available</div>
                  <!-- <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                    <div class="text-md font-medium truncate">Used:</div>
                    <div class="ml-1.5 text-lg font-semibold">10</div>
                  </div> -->
                </div>
              </div>
              <!-- Overdue -->
              <div (click)="navigateTo('axis/admin/security/roles')"
                class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden" style="cursor:pointer">
                <div class="flex items-start justify-between">
                  <div class="text-lg font-medium tracking-tight leading-6 truncate">Roles</div>
                  <div class="ml-2 -mt-2 -mr-3">
                    <!-- <button mat-icon-button [matMenuTriggerFor]="issuesMenu">
                      <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                    </button>
                    <mat-menu #issuesMenu="matMenu">
                      <button mat-menu-item>Yesterday</button>
                      <button mat-menu-item>2 days ago</button>
                      <button mat-menu-item>3 days ago</button>
                    </mat-menu> -->
                  </div>
                </div>
                <div class="flex flex-col items-center mt-2">
                  <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-amber-500">
                    {{roles.length}}</div>
                  <div class="text-lg font-medium text-amber-600 dark:text-amber-500">Available</div>
                  <!-- <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                    <div class="text-md font-medium truncate">Used:</div>
                    <div class="ml-1.5 text-lg font-semibold">10</div>
                  </div> -->
                </div>
              </div>
              <!-- Issues -->
              <div (click)="navigateTo('axis/admin/users')"
                class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden" style="cursor:pointer">
                <div class="flex items-start justify-between">
                  <div class="text-lg font-medium tracking-tight leading-6 truncate">Users</div>
                  <div class="ml-2 -mt-2 -mr-3">
                    <!-- <button mat-icon-button [matMenuTriggerFor]="issuesMenu">
                      <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                    </button>
                    <mat-menu #issuesMenu="matMenu">
                      <button mat-menu-item>Yesterday</button>
                      <button mat-menu-item>2 days ago</button>
                      <button mat-menu-item>3 days ago</button>
                    </mat-menu> -->
                  </div>
                </div>
                <div class="flex flex-col items-center mt-2">
                  <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-amber-500">
                    {{users.length}}</div>
                  <div class="text-lg font-medium text-amber-600 dark:text-amber-500">Available</div>
                  <!-- <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                    <div class="text-md font-medium truncate">Used:</div>
                    <div class="ml-1.5 text-lg font-semibold">10</div>
                  </div> -->
                </div>
              </div>
              <!-- Features -->
              <div (click)="navigateTo('axis/admin/departments')"
                class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden" style="cursor:pointer">
                <div class="flex items-start justify-between">
                  <div class="text-lg font-medium tracking-tight leading-6 truncate">Department</div>
                  <div class="ml-2 -mt-2 -mr-3">
                    <!-- <button mat-icon-button [matMenuTriggerFor]="issuesMenu">
                      <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                    </button>
                    <mat-menu #issuesMenu="matMenu">
                      <button mat-menu-item>Yesterday</button>
                      <button mat-menu-item>2 days ago</button>
                      <button mat-menu-item>3 days ago</button>
                    </mat-menu> -->
                  </div>
                </div>
                <div class="flex flex-col items-center mt-2">
                  <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-amber-500">
                    {{departments.length}}</div>
                  <div class="text-lg font-medium text-amber-600 dark:text-amber-500">Available</div>
                  <!-- <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                    <div class="text-md font-medium truncate">Used:</div>
                    <div class="ml-1.5 text-lg font-semibold">10</div>
                  </div> -->
                </div>
              </div>

            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>



</div>
