<div class="flex flex-auto">
    <form class="flex flex-col flex-auto m-3 p-6 pt-10 sm:p-8 sm:pt-10 overflow-y-auto bg-card shadow rounded-2xl"
        [formGroup]="verticalStepperForm">
        <div class="flex items-center justify-between -mt-3 -ml-4">

            <!-- Mark as ... button -->
            <button class="pr-4 pl-3.5" [disabled]="getDisableButton()" (click)="openApproveDialog()" mat-button>
                <ng-container>
                    <div class="flex items-center justify-center">
                        <mat-icon [svgIcon]="'heroicons_outline:check-circle'"></mat-icon>
                        <span class="ml-2 font-semibold">Approve Requisition</span>
                    </div>
                </ng-container>
            </button>

            <div class="flex items-center">
                <!-- More menu -->
                <button mat-icon-button [matMenuTriggerFor]="moreMenu">
                    <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
                </button>
                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item (click)="openPrintDialog()">
                        <mat-icon [svgIcon]="'heroicons_outline:printer'"></mat-icon>
                        <span>Print Requisition</span>
                    </button>
                    <button mat-menu-item (click)="openRejectDialog(cashRequisition.id)">
                        <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                        <span>Reject Requisition</span>
                    </button>
                </mat-menu>
                <!-- Close button -->
                <button mat-icon-button [routerLink]="['../']">
                    <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
                </button>
            </div>
        </div>
        <mat-divider class="mt-6 mb-8"></mat-divider>
        <mat-vertical-stepper id="verticalStepper" [linear]="true" #verticalStepper>
            <mat-step [formGroupName]="'step1'" [stepControl]="verticalStepperForm.get('step1')" #verticalStepperStep1>
                <ng-template matStepLabel>Requisition Details</ng-template>


                <div class="grid grid-cols-6 gap-6">
                    <div class="col-span-6 sm:col-span-3">
                        <mat-form-field class="flex-auto w-full">
                            <mat-label>Title</mat-label>
                            <input matInput [formControlName]="'title'">
                        </mat-form-field>
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <mat-form-field class="flex-auto w-full">
                            <mat-label>Status</mat-label>
                            <input matInput [formControlName]="'status'">
                        </mat-form-field>
                    </div>
                    <div class="col-span-12 sm:col-span-6">
                        <mat-form-field class=" flex-auto w-full">
                            <mat-label>Comments</mat-label>
                            <textarea matInput [formControlName]="'requestComments'" [rows]="3"></textarea>
                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:menu-alt-2'"></mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <div class="mr-2">
                            <div class="font-medium">Start date</div>
                            <div class="relative flex items-center mt-1.5 px-4 leading-9 rounded-full cursor-pointer text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700"
                                (click)="startDatePicker.open()">
                                <mat-icon class="icon-size-5 text-current" [svgIcon]="'heroicons_solid:calendar'">
                                </mat-icon>
                                <span class="ml-2 text-md font-medium">
                                    <ng-container>{{cashRequisition.startDate | date:'medium'}}</ng-container>
                                </span>
                                <mat-form-field
                                    class=" fuse-mat-dense invisible absolute inset-0 -mt-2.5 opacity-0 pointer-events-none">
                                    <input matInput formControlName="startDate" [matDatepicker]="startDatePicker">
                                    <mat-datepicker #startDatePicker>
                                        <mat-datepicker-actions>
                                            <button mat-button matDatepickerCancel>Clear
                                            </button>
                                            <button class="" mat-flat-button [color]="'primary'"
                                                matDatepickerApply>Select
                                            </button>
                                        </mat-datepicker-actions>
                                    </mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>

                    </div>
                    <div class="col-span-6 sm:col-span-3 mb-3">
                        <div class="">
                            <div class="font-medium">End date</div>
                            <div class="relative flex items-center mt-1.5 px-4 leading-9 rounded-full cursor-pointer text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700"
                                (click)="endDatePicker.open()">
                                <mat-icon class="icon-size-5 text-current" [svgIcon]="'heroicons_solid:calendar'">
                                </mat-icon>
                                <span class="ml-2 text-md font-medium">
                                    <ng-container>{{cashRequisition.endDate | date:'medium'}}</ng-container>
                                </span>
                                <mat-form-field
                                    class=" fuse-mat-dense invisible absolute inset-0 -mt-2.5 opacity-0 pointer-events-none">
                                    <input matInput formControlName="endDate" [matDatepicker]="endDatePicker">
                                    <mat-datepicker #endDatePicker>
                                        <mat-datepicker-actions>
                                            <button mat-button matDatepickerCancel>Clear
                                            </button>
                                            <button class="" mat-flat-button [color]="'primary'"
                                                matDatepickerApply>Select
                                            </button>
                                        </mat-datepicker-actions>
                                    </mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="mt-8">
                    <div class="font-medium mb-1.5">Approvals</div>
                    <div class="flex flex-wrap items-center -m-1.5">
                        <!-- Tags -->
                        <ng-container>
                            <ng-container>
                                <div
                                    class="flex items-center justify-center px-4 m-1.5 rounded-full leading-9 text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700">
                                    <span class="text-md font-medium whitespace-nowrap"> Date Requested
                                        :{{cashRequisition.dateRequested | date:'medium'}}</span>
                                </div>
                            </ng-container>
                            <ng-container>
                                <div
                                    class="flex items-center justify-center px-4 m-1.5 rounded-full leading-9 text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700">
                                    <span class="text-md font-medium whitespace-nowrap">
                                        {{cashRequisition.lineApproved? "Line
                                        Manager Approved On : " + cashRequisition.lineApprovedDate : "Awaiting Line
                                        Manager
                                        Approval"}}
                                    </span>
                                </div>
                            </ng-container>
                            <ng-container>
                                <div
                                    class="flex items-center justify-center px-4 m-1.5 rounded-full leading-9 text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700">
                                    <span class="text-md font-medium whitespace-nowrap"> {{cashRequisition.approved?
                                        "Finace Manager Approved On : " + cashRequisition.financeApprovedDate :
                                        "Awaiting Finance
                                        Manager Approval"}}
                                    </span>
                                </div>
                            </ng-container>

                            <ng-container>
                                <div
                                    class="flex items-center justify-center px-4 m-1.5 rounded-full leading-9 text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700">
                                    <span class="text-md font-medium whitespace-nowrap">
                                        {{cashRequisition.generalManagerApproved?
                                        "General Manager Approved On : " + cashRequisition.generalManagerApprovedDate :
                                        "Awaiting General
                                        Manager Approval"}}
                                    </span>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
                <div class="grid grid-cols-6 gap-6 mt-8">
                    <div class="col-span-6 sm:col-span-3">
                        <mat-form-field class="flex-auto w-full">
                            <mat-label>Duration</mat-label>
                            <input matInput [formControlName]="'duration'">
                        </mat-form-field>
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <mat-form-field class="flex-auto w-full">
                            <mat-label>Amount</mat-label>
                            <input matInput [formControlName]="'amount'">
                        </mat-form-field>
                    </div>
                </div>


            </mat-step>

            <mat-step [formGroupName]="'step2'" [stepControl]="verticalStepperForm.get('step2')" #verticalStepperStep2>
                <ng-template matStepLabel>Cash Details</ng-template>

                <div class="grid grid-cols-6 gap-6">
                    <div class="col-span-6 sm:col-span-3">
                        <mat-form-field class="flex-auto w-full">
                            <mat-label>Currency Code</mat-label>
                            <input matInput [formControlName]="'currencyCode'" disabled="true">
                        </mat-form-field>
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <mat-form-field class="flex-auto w-full">
                            <mat-label>Currency</mat-label>
                            <input matInput [formControlName]="'currency'" disabled>
                        </mat-form-field>
                    </div>

                    <div class="col-span-12 sm:col-span-6">
                        <mat-form-field class=" flex-auto w-full">
                            <mat-label>Description</mat-label>
                            <textarea matInput [formControlName]="'description'" [rows]="3" disabled></textarea>
                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:menu-alt-2'"></mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <mat-form-field class="flex-auto w-full">
                            <mat-label>Status</mat-label>
                            <input matInput [formControlName]="'status'" disabled>
                        </mat-form-field>
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <mat-form-field class="flex-auto w-full">
                            <mat-label>Amount</mat-label>
                            <input matInput [formControlName]="'amount'" disabled>
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex justify-end mt-8">

                    <button class="px-8" mat-flat-button [color]="'primary'" type="button">
                        Change Card
                    </button>
                </div>
            </mat-step>

            <mat-step [formGroupName]="'step3'" [stepControl]="verticalStepperForm.get('step3')">
                <ng-template matStepLabel>Employee Details</ng-template>
                <div class="grid grid-cols-6 gap-6">
                    <div class="col-span-4 sm:col-span-2">
                        <mat-form-field class="flex-auto w-full">
                            <mat-label>First Name</mat-label>
                            <input matInput [formControlName]="'firstName'" disabled="true">
                        </mat-form-field>
                    </div>
                    <div class="col-span-4 sm:col-span-2">
                        <mat-form-field class="flex-auto w-full">
                            <mat-label>Last Name</mat-label>
                            <input matInput [formControlName]="'lastName'" disabled>
                        </mat-form-field>
                    </div>
                    <div class="col-span-4 sm:col-span-2">
                        <mat-form-field class="flex-auto w-full">
                            <mat-label>Phone Number</mat-label>
                            <input matInput [formControlName]="'phoneNumber'" disabled>
                        </mat-form-field>
                    </div>
                    <div class="col-span-12 sm:col-span-6">
                        <mat-form-field class=" flex-auto w-full">
                            <mat-label>Email</mat-label>
                            <textarea matInput [formControlName]="'email'" [rows]="3" disabled></textarea>
                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:menu-alt-2'"></mat-icon>
                        </mat-form-field>
                    </div>
                </div>
            </mat-step>
        </mat-vertical-stepper>
    </form>
</div>