<div class="flex flex-col w-full">
    <!-- View mode -->
    <ng-container *ngIf="!editMode">
        <!-- Header -->
        <div class="relative w-full h-40 sm:h-48 px-8 sm:px-12 bg-accent-100 dark:bg-accent-700">
            <!-- Background -->
            <ng-container>
                <img class="absolute inset-0 object-cover w-full h-full" src="assets/images/logo/axis-mob.jpeg">
            </ng-container>
            <!-- Close button -->
            <div class="flex items-center justify-end w-full max-w-3xl mx-auto pt-6">
                <button mat-icon-button [matTooltip]="'Close'" [routerLink]="['../']">
                    <mat-icon class="text-white" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                </button>
            </div>
        </div>x

        <!-- User -->
        <div class="relative flex flex-col flex-auto items-center p-6 pt-0 sm:p-12 sm:pt-0">
            <div class="w-full max-w-3xl">

                <!-- Avatar and actions -->
                <div class="flex flex-auto items-end -mt-16">
                    <!-- Avatar -->
                    <div
                        class="flex items-center justify-center w-32 h-32 rounded-full overflow-hidden ring-4 ring-bg-card">

                        <div
                            class="flex items-center justify-center w-full h-full rounded overflow-hidden uppercase text-8xl font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                            {{user.firstName.charAt(0)}}
                        </div>
                    </div>
                    <!-- Actions -->
                    <div class="flex items-center ml-auto mb-1">
                        <button mat-stroked-button (click)="toggleEditMode(true)">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                            <span class="ml-2">Edit</span>
                        </button>
                    </div>
                </div>

                <!-- Name -->
                <div class="mt-3 text-4xl font-bold truncate">{{user.firstName}} {{user.lastName}}</div>


                <!-- <ng-container *ngIf="user.tags.length">
                    <div class="flex flex-wrap items-center mt-2">
                
                        <ng-container *ngFor="let tag of (user.tags | fuseFindByKey:'id':tags); trackBy: trackByFn">
                            <div class="flex items-center justify-center py-1 px-3 mr-3 mb-3 rounded-full leading-normal text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700">
                                <span class="text-sm font-medium whitespace-nowrap">{{tag.title}}</span>
                            </div>
                        </ng-container>
                    </div>
                </ng-container> -->

                <div class="flex flex-col mt-4 pt-6 border-t space-y-8">
                    <!-- Title -->
                    <ng-container>
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:briefcase'"></mat-icon>
                            <div class="ml-6 leading-6">{{user.userName}}</div>
                        </div>
                    </ng-container>

                    <!-- Company -->
                    <!-- <ng-container *ngIf="user.company">
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:office-building'"></mat-icon>
                            <div class="ml-6 leading-6">{{user.company}}</div>
                        </div>
                    </ng-container> -->

                    <!-- Emails -->
                    <ng-container>
                        <div class="flex">
                            <mat-icon [svgIcon]="'heroicons_outline:mail'"></mat-icon>
                            <div class="min-w-0 ml-6 space-y-1">
                                <ng-container>
                                    <div class="flex items-center leading-6">
                                        <a class="hover:underline text-primary-500" [href]="'mailto:' + user.email"
                                            target="_blank">
                                            {{user.email}}
                                        </a>
                                        <div class="text-md truncate text-secondary">
                                            <span class="mx-2">&bull;</span>
                                            <span class="font-medium">Work</span>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </ng-container>

                    <!-- Phone -->
                    <!-- <ng-container *ngIf="user.phoneNumbers.length">
                        <div class="flex">
                            <mat-icon [svgIcon]="'heroicons_outline:phone'"></mat-icon>
                            <div class="min-w-0 ml-6 space-y-1">
                                <ng-container *ngFor="let phoneNumber of user.phoneNumbers; trackBy: trackByFn">
                                    <div class="flex items-center leading-6">
                                        <div
                                            class="hidden sm:flex w-6 h-4 overflow-hidden"
                                            [matTooltip]="getDepartmentByIso(phoneNumber.department).name"
                                            [style.background]="'url(\'/assets/images/apps/users/flags.png\') no-repeat 0 0'"
                                            [style.backgroundSize]="'24px 3876px'"
                                            [style.backgroundPosition]="getDepartmentByIso(phoneNumber.department).flagImagePos"></div>
                                        <div class="sm:ml-3 font-mono">{{getDepartmentByIso(phoneNumber.department).code}}</div>
                                        <div class="ml-2.5 font-mono">{{phoneNumber.phoneNumber}}</div>
                                        <div
                                            class="text-md truncate text-secondary"
                                            *ngIf="phoneNumber.label">
                                            <span class="mx-2">&bull;</span>
                                            <span class="font-medium">{{phoneNumber.label}}</span>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </ng-container> -->

                    <!-- Address -->
                    <!-- <ng-container *ngIf="user.address">
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:location-marker'"></mat-icon>
                            <div class="ml-6 leading-6">{{user.address}}</div>
                        </div>
                    </ng-container> -->

                    <!-- Birthday -->
                    <!-- <ng-container *ngIf="user.birthday">
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:cake'"></mat-icon>
                            <div class="ml-6 leading-6">{{user.birthday | date:'longDate'}}</div>
                        </div>
                    </ng-container> -->

                    <!-- Notes -->
                    <!-- <ng-container *ngIf="user.notes">
                        <div class="flex">
                            <mat-icon [svgIcon]="'heroicons_outline:menu-alt-2'"></mat-icon>
                            <div
                                class="max-w-none ml-6 prose prose-sm"
                                [innerHTML]="user.notes"></div>
                        </div>
                    </ng-container> -->
                </div>

            </div>
        </div>
    </ng-container>

    <!-- Edit mode -->
    <ng-container *ngIf="editMode">

        <!-- Header -->
        <div class="relative w-full h-40 sm:h-48 px-8 sm:px-12 bg-accent-100 dark:bg-accent-700">
            <!-- Background -->
            <ng-container>
                <img class="absolute inset-0 object-cover w-full h-full" src="assets/images/logo/axis-mob.jpeg">
            </ng-container>
            <!-- Close button -->
            <div class="flex items-center justify-end w-full max-w-3xl mx-auto pt-6">
                <button mat-icon-button [matTooltip]="'Close'" [routerLink]="['../']">
                    <mat-icon class="text-white" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                </button>
            </div>
        </div>

        <!-- User form -->
        <div class="relative flex flex-col flex-auto items-center px-6 sm:px-12">
            <div class="w-full max-w-3xl">
                <form [formGroup]="editUserForm">
                    <!-- Name -->
                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>First Name</mat-label>
                            <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            <input matInput [formControlName]="'firstName'" [placeholder]="'First Name'">

                        </mat-form-field>
                    </div>
                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Last Name</mat-label>
                            <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            <input matInput [formControlName]="'lastName'" [placeholder]="'Last Name'">

                        </mat-form-field>
                    </div>
                    <!-- Roles -->
                    <!-- Title -->
                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Username</mat-label>
                            <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:briefcase'"></mat-icon>
                            <input matInput [formControlName]="'userName'" [placeholder]="'User name'">

                        </mat-form-field>
                    </div>


                    <!-- Emails -->
                    <div class="mt-8">
                        <div class="space-y-4">
                            <ng-container>
                                <div class="flex">
                                    <mat-form-field class="fuse-mat-no-subscript flex-auto">
                                        <mat-label>Email</mat-label>
                                        <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                            [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                                        <input id="email" matInput [formControlName]="'email'"
                                            [placeholder]="'Email address'">

                                    </mat-form-field>
                                </div>
                            </ng-container>
                        </div>
                    </div>

                    <div class="flex flex-wrap items-center -m-1.5 mt-6">
                        <!-- Tags -->
                        <ng-container *ngIf="selectedRoles.length">
                            <ng-container *ngFor="let role of selectedRoles; trackBy: trackByFn">
                                <div
                                    class="flex items-center justify-center px-4 m-1.5 rounded-full leading-9 text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700">
                                    <span class="text-md font-medium whitespace-nowrap">{{role}}</span>
                                </div>
                            </ng-container>
                        </ng-container>
                        <div class="flex items-center justify-center px-4 m-1.5 rounded-full leading-9 cursor-pointer text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700"
                            (click)="openRolesPanel()" #rolesPanelOrigin>

                            <ng-container *ngIf="editUserForm.value.roles.length">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                                <span class="ml-1.5 text-md font-medium whitespace-nowrap">Edit</span>
                            </ng-container>

                            <ng-container *ngIf="!editUserForm.value.roles.length">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                                <span class="ml-1.5 text-md font-medium whitespace-nowrap">Add</span>
                            </ng-container>

                            <!-- Roles panel -->
                            <ng-template #rolesPanel>
                                <div class="w-60 rounded border shadow-md bg-card">
                                    <!-- Roles panel header -->
                                    <div class="flex items-center m-3 mr-2">
                                        <div class="flex items-center">
                                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:search'">
                                            </mat-icon>
                                            <div class="ml-2">
                                                <input class="w-full min-w-0 py-1 border-0" type="text"
                                                    placeholder="Enter role name" (input)="filterRoles($event)"
                                                    (keydown)="filterRolesInputKeyDown($event)" [maxLength]="30"
                                                    #newRoleInput>
                                            </div>
                                        </div>
                                        <button class="ml-1" mat-icon-button (click)="toggleRolesEditMode()">
                                            <mat-icon *ngIf="!rolesEditMode" class="icon-size-5"
                                                [svgIcon]="'heroicons_solid:pencil-alt'">
                                            </mat-icon>
                                            <mat-icon *ngIf="rolesEditMode" class="icon-size-5"
                                                [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                        </button>
                                    </div>
                                    <div class="flex flex-col max-h-64 py-2 border-t overflow-y-auto">
                                        <ng-container>
                                            <ng-container *ngFor="let role of filteredRoles; trackBy: trackByFn">
                                                <div class="flex items-center h-10 min-h-10 px-4 cursor-pointer hover:bg-hover"
                                                    (click)="toggleContactRole(role)" matRipple>
                                                    <mat-checkbox
                                                        class="flex items-center h-10 min-h-10 pointer-events-none"
                                                        [checked]="selectedRoles.includes(role.roleName)"
                                                        [color]="'primary'" [disableRipple]="true">
                                                    </mat-checkbox>
                                                    <div class="ml-1">{{role.roleName}}</div>
                                                </div>
                                            </ng-container>
                                        </ng-container>
                                        <!-- Roles editing -->

                                        <!-- Create role -->
                                        <div class="flex items-center h-10 min-h-10 -ml-0.5 pl-4 pr-3 leading-none cursor-pointer hover:bg-hover"
                                            *ngIf="shouldShowCreateRoleButton(newRoleInput.value)"
                                            (click)="createRole(newRoleInput.value); newRoleInput.value = ''" matRipple>
                                            <mat-icon class="mr-2 icon-size-5"
                                                [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                                            <div class="break-all">Create "<b>{{newRoleInput.value}}</b>"</div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                    <!-- Actions -->
                    <div
                        class="flex items-center mt-10 -mx-6 sm:-mx-12 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent">
                        <!-- Delete -->
                        <button mat-button [color]="'warn'" [matTooltip]="'Delete'" (click)="deleteUser()">
                            Delete
                        </button>
                        <!-- Cancel -->
                        <button class="ml-auto" mat-button [matTooltip]="'Cancel'" (click)="toggleEditMode(false)">
                            Cancel
                        </button>
                        <!-- Save -->
                        <button class="ml-2" mat-flat-button [color]="'primary'" [disabled]="editUserForm.invalid"
                            [matTooltip]="'Save'" (click)="updateUser()">
                            Update
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </ng-container>
</div>