<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>

    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500">Axis</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                    <a class="ml-1 text-primary-500">Employee</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                    <span class="ml-1 text-secondary">Requisitions</span>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Create Vehicle Requisition
                </h2>
            </div>
        </div>

    </div>

    <!-- Main -->
    <div class="p-5">
        <form class="p-4 bg-card shadow rounded overflow-hidden max-w-full" [formGroup]="horizontalStepperForm">
            <mat-horizontal-stepper [linear]="true" #horizontalStepper>
                <mat-step [formGroupName]="'step1'" [stepControl]="horizontalStepperForm.get('step1')"
                    #horizontalStepperStep1>
                    <ng-template matStepLabel>Basic information</ng-template>
                    <p class="my-6 font-medium">
                        Fill in your basic information
                    </p>
                    <div class="flex">
                        <mat-form-field class="fuse-mat-textarea flex-auto">
                            <textarea matInput [formControlName]="'description'" [placeholder]="'About'"
                                [rows]="3"></textarea>
                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:menu-alt-2'"></mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="flex">
                        <mat-form-field
                            [ngClass]="formFieldHelpers"
                            class="flex-auto">
                            <mat-label>Amount</mat-label>
                            <input matInput [formControlName]="'amount'">
                            <span matPrefix>$</span>
                            <span matSuffix>.00</span>
                        </mat-form-field>
                    </div>
                    <div class="flex flex-col gt-xs:flex-row">
                        <mat-form-field class="flex-auto gt-xs:pr-3">
                            <mat-select [formControlName]="'duration'" [placeholder]="'Duration'" required>
                                <mat-option value="1">1 day</mat-option>
                                <mat-option value="2">2 days</mat-option>
                                <mat-option value="3">3 days</mat-option>
                            </mat-select>
                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:location-marker'">
                            </mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="flex justify-end">
                        <button class="px-8" mat-flat-button [color]="'primary'"
                            [disabled]="horizontalStepperStep1.stepControl.pristine || horizontalStepperStep1.stepControl.invalid"
                            type="button" matStepperNext>
                            Next
                        </button>
                    </div>
                </mat-step>

                <mat-step [formGroupName]="'step2'" [stepControl]="horizontalStepperForm.get('step2')"
                    #horizontalStepperStep2>
                    <ng-template matStepLabel>Date Details</ng-template>
                    <p class="my-6 font-medium">
                        Please let us know when
                    </p>
                    <div class="flex flex-col gt-xs:flex-row">
                        <mat-form-field [ngClass]="formFieldHelpers" class="flex-auto">
                            <input matInput [matDatepicker]="picker2" [placeholder]="'Start date'"
                                [formControlName]="'startDate'">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field [ngClass]="formFieldHelpers" class="flex-auto">
                            <input matInput [matDatepicker]="picker3" [placeholder]="'End date'"
                                [formControlName]="'endDate'">
                            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                            <mat-datepicker #picker3></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class="flex justify-end">
                        <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button" matStepperPrevious>
                            Back
                        </button>
                        <button class="px-8" mat-flat-button [color]="'primary'" 
                            [disabled]="horizontalStepperStep2.stepControl.pristine || horizontalStepperStep2.stepControl.invalid"
                            type="button" matStepperNext>
                            Next  
                        </button>
                    </div>
                </mat-step>

                <mat-step>
                    <ng-template matStepLabel>Done</ng-template>
                    <fuse-alert [type]="'wairning'">
                        <span fuseAlertTitle>Requsition Ready to be send</span>
                       Are you sure you want to send this requisition
                    </fuse-alert>
                    <div class="flex justify-end mt-8">
                        <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button" matStepperPrevious>
                            Back
                        </button>
                        <button class="px-8" mat-flat-button [color]="'primary'" type="reset"
                        [disabled]="horizontalStepperForm.disabled"
                        (click)="createReq()">
                            Save
                            <mat-progress-spinner
                            *ngIf="horizontalStepperForm.disabled"
                            [diameter]="24"
                            [mode]="'indeterminate'"></mat-progress-spinner>
                        </button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </form>
    </div>
</div>